<%- include("../includes/head.ejs"); %>

<link rel="stylesheet" href="/style1.css">

<body class="bg-light text-white">
	<style type="text/css">
		.fa-trash:hover {
	    	color: red !important;
	    }

	    #addInput {
			border: 0;
			color: white;
			background: black;
			padding: 10px;
			border-radius: 20px;
		}

		#section1 {
			padding: 0 10%;
		}
	</style>

	<header class="header1">
	  <%- include('../includes/navbar.ejs'); %>
	</header>

	<section>
		<div class="container-fluid p-0" style="margin-top: 45px;" id="cont1">
		    <div class="row">
			    <%- include('../includes/navbar1.ejs'); %>

		      	<%- include('../includes/navbar2.ejs'); %>

		      	<div class="col-12 border text-black" id="section1" style="background: #eef1f5;">
		      		<div class="text-center" style="margin-top: 30px;">
		      			Delete Option
		      		</div>
		      		<hr />
					<div class="dataTable p-2 d-flex justify-content-around align-items-center">
								<div class="mb-3">
									<label for="egInput1" class="form-label">Price</label>
									<input type="number" name="affect_price" class="form-control" id="egInput1" placeholder="€ 0" step="any" value="<%= affect_price %>">
								</div>
								<div class="mb-3">
									<label for="egInput2" class="form-label">Option Name</label>
									<input type="text" name="optValue" class="form-control" id="egInput2" placeholder="e.g., 3 Mois" value="<%= optValue %>">
								</div>
								<form action="/v1/delOptions" method="POST" id="delForm">
									<input type="hidden" name="oid" value="<%= optionId %>">
									<input type="hidden" name="pid" value="<%= pid %>">
									<button type="submit" class="btn border-0" id="delBtn">
										<i class="fa-solid fa-trash" style="color: #f20707;"></i>
									</button>
								</form>
					</div>
				</div>				
			</div>
		</div>
	</section>

	<section>
		<div class="container-fluid" style="height: 100px; background: #eef1f5;"></div>
	</section>

	<script src="/script3.js"></script>

	<%- include("../includes/end.ejs"); %>
</body>