<%- include("../includes/head.ejs"); %>

<link rel="stylesheet" href="/style1.css">

<body class="bg-light text-white">
	<style>
		* {
			font-family: Roboto,sans-serif;
		}

		.tabs:hover {
    		color: black !important;
    	}

    	.tab:hover {
    		color: grey !important;
    	}

    	.view1:hover {
    		color: grey !important;
    	}
	</style>

	<header class="header1">
	  	<%- include('../includes/navbar.ejs'); %>
	</header>

  	<section>
	    <div class="container-fluid p-0" style="margin-top: 45px;" id="cont1">
	      <div class="row">
	      	<%- include('../includes/navbar1.ejs'); %>

	        <%- include('../includes/navbar2.ejs'); %>

	        <div class="col border bg-light text-black" id="section1">
	        	<div class="col-12 text-center">
			        <% if(errorMessage) { %>
			          	<div class="alert alert-danger" role="alert"><%= errorMessage %></div>
			        <% } %>
		    	</div>
		    	
				<div class="pt-4 ms-3">
		        	<p style="font-size: 13px;">
		        		<i class="fa-solid fa-house me-2" style="color: #333333;"></i>
		        		<a href="/v1/home" class="me-2 tabs" style="text-decoration: none; color: black;">Dashboard</a><span class="me-2">/</span>
		        		<a class="me-2 tab" style="text-decoration: none; color: grey;">Pages</a>
		        	</p>
		        </div>
		        
				<div class="mt-4 d-flex justify-content-between">
					<div class="dropdown">
					  <button class="btn btn-light border dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					    Bulk Actions
					  </button>
					  <ul class="dropdown-menu">
					    <li><a class="dropdown-item" href="#">Action</a></li>
					    <li><a class="dropdown-item" href="#">Another action</a></li>
					    <li><a class="dropdown-item" href="#">Something else here</a></li>
					  </ul>
					</div>
					<form class="d-flex" role="search">
				        <input class="form-control me-2" id="search" type="search" placeholder="Search" aria-label="Search">
				    </form>
				</div>

				<div class="mt-5 table-responsive">
					<table class="table table-striped table-hover">
						<thead>
						    <tr>
						      <th scope="col">
						      	<input class="table-check-all" data-set=".dataTable .checkboxes" type="checkbox">
						      </th>
						      <th scope="col" style="font-size: 11px; color: #AFAFAF;">ID</th>
						      <th scope="col" style="font-size: 11px; color: #AFAFAF;">NAME</th>
						      <th scope="col" style="font-size: 11px; color: #AFAFAF;">TEMPLATE</th>
						      <th scope="col" style="font-size: 11px; color: #AFAFAF;">STATUS</th>
						      <th scope="col" style="font-size: 11px; color: #AFAFAF;">OPERATIONS</th>
						    </tr>
						</thead>
						<tbody id="dataTableBody">
							<tr>
								<th><input class="table-check-all" data-set=".dataTable .checkboxes" type="checkbox"></th>
								<th style="font-size: 14px; color: #212529;">1</th>
								<td class="tName" style="font-size: 14px; color: #212529;">Add Product</td>
								<td class="tName" style="font-size: 14px; color: #212529;">Default</td>
								<td class="tName d-flex justify-content-start align-items-center" style="font-size: 14px; color: #212529;">
									<p class="p-2 text-capitalize" style="color: white; background: #0dcaf0; border-radius: 5px;">
										Published
									</p>
								</td>
								<td class="tName" style="font-size: 14px; color: #212529;">
									<a class="view1" href="/v1/add-product" style="color: black;">View</a>
								</td>
							</tr>
							<tr>
								<th><input class="table-check-all" data-set=".dataTable .checkboxes" type="checkbox"></th>
								<th style="font-size: 14px; color: #212529;">2</th>
								<td class="tName" style="font-size: 14px; color: #212529;">Add FAQ</td>
								<td class="tName" style="font-size: 14px; color: #212529;">Default</td>
								<td class="tName d-flex justify-content-start align-items-center" style="font-size: 14px; color: #212529;">
									<p class="p-2 text-capitalize" style="color: white; background: #0dcaf0; border-radius: 5px;">
										Published
									</p>
								</td>
								<td class="tName" style="font-size: 14px; color: #212529;">
									<a class="view1" href="/v1/addFaq" style="color: black;">View</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		  </div>
	    </div>
	</section>

  	<script src="/script3.js"></script>

  <%- include("../includes/end.ejs"); %>

</body>